<!DOCTYPE html>
<html lang="es">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>We'll be right back</h1>
    <p>The site it's currently being updated!</p>
</body>

</html>